{{ define "main" }}
    {{ if eq .RelPermalink "/categories/" }}
        {{ range $.Site.Taxonomies.categories.ByCount }}
            <a href="{{ "/categories/" | relURL }}{{ .Name | urlize }}">
                # {{ .Name }} <small>({{.Count}})</small>
            </a>
        {{end}}
    {{ else }}
        <div class="list">
            {{ range .Paginator.Pages }}
                <div class="listItem">
                    {{ if .Params.image }}
                        <img
                                src="{{ .Params.image | relURL }}"
                                alt="{{.Title}}"
                                class="listItemImage"
                                loading="lazy"
                        />
                    {{ end }}
                    <div class="listItemTexts">
                        <h1 class="listItemTitle">
                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                        </h1>
                        {{ if .Params.description }}
                            <p class="listItemDesc">{{.Params.description}}</p>
                        {{ end }}
                        <div class="listItemDetail">
                            {{ if .Params.avatar }}
                                <img
                                        src="{{ .Params.avatar | relURL }}"
                                        loading="lazy"
                                        alt="Author avatar"
                                        class="listItemAvatar"
                                />
                            {{ end }}
                            <span>
                                {{ range .Params.authors }}
                                    {{ . }}
                                {{ end }}
                            </span>
                            <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
                        </div>
                        <div class="listItemCategories">
                            {{ range .Params.categories }}
                                <a class="listItemCategory" href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            {{ end }}
            {{ template "_internal/pagination.html" . }}
        </div>
    {{end}}
{{ end }}