{{ define "main" }}
    <div class="list">
       {{ range .Paginator.Pages }}
            <div class="listItem">
                <img src={{ .Params.image }} alt={{ .Title }} class="listItemImage" loading="lazy">
                <div class="listItemTexts">
                    <h1 class="listItemTitle">
                        <a href={{.Permalink}}>{{ .Title }}</a>
                    </h1>
                    <p class="listItemDescription">{{.Params.Description}}</p>
                    <div class="listItemDetail">
                        <img src={{ .Params.avatar }} alt="avatar" class="listItemAvatar" loading="lazy">
                        <span>
                            {{ range (.GetTerms "authors")}}
                                <a href={{ .Permalink }}>{{ .Name }}</a>
                            {{ end }}
                        </span>
                        <time>{{ .Date.Format .Site.Params.dateFormat }}</time>
                    </div>
                    <div class="listItemCategories">
                        {{ range (.GetTerms "categories") }}
                            <a class="listItemCategory" href={{ .Permalink }}>{{ .Name }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
       {{ end }}

        {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}