{{ define "main" }}
    <div class="content">
        {{ if eq .RelPermalink "/categories/" }}
            <div class="tags are-medium">
                {{ range $.Site.Taxonomies.categories.ByCount }}
                    <a class="tag is-link" href="{{ "/categories/" | relURL }}{{ .Name | urlize }}">
                        {{ .Name }} ({{ .Count }})
                    </a>
                {{ end }}
            </div>
        {{ else }}
            <div class="columns is-multiline">
                {{ range .Paginator.Pages }}
                    <div class="column is-12 mb-5">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    {{ if .Params.image }}
                                        <div class="media-left">
                                            <figure class="image is-128x128">
                                                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" loading="lazy">
                                            </figure>
                                        </div>
                                    {{ end }}
                                    <div class="media-content">
                                        <p class="title is-4"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
                                        {{ if .Params.description }}
                                            <p class="subtitle is-6">{{ .Params.description }}</p>
                                        {{ end }}
                                        <div class="level">
                                            <div class="level-left">
                                                {{ if .Params.avatar }}
                                                    <div class="level-item">
                                                        <figure class="image is-32x32">
                                                            <img class="is-rounded" src="{{ .Params.avatar | relURL }}" alt="avatar" loading="lazy">
                                                        </figure>
                                                    </div>
                                                {{ end }}
                                                <div class="level-item">
                                                    {{ range .Params.authors }}
                                                        {{ . }}
                                                    {{ end }}
                                                </div>
                                                <div class="level-item">
                                                    {{ dateFormat .Site.Params.dateFormat .Date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tags">
                                            {{ range .Params.categories }}
                                                <a class="tag is-link is-light" href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            {{ template "_internal/pagination.html" . }}
        {{ end }}
    </div>
{{ end }}