{{ define "main" }}
    <article class="content">
        <h1 class="title is-1">{{ .Title }}</h1>

        {{ if .Params.description }}
            <p class="subtitle is-4">{{ .Params.description }}</p>
        {{ end }}

        <div class="level">
            <div class="level-left">
                {{ if .Params.avatar }}
                    <div class="level-item">
                        <figure class="image is-32x32">
                            <img src="{{ .Params.avatar | relURL }}" class="is-rounded" alt="Author avatar" loading="lazy">
                        </figure>
                    </div>
                {{ end }}
                <div class="level-item">
                    {{ range .Params.authors }}
                        {{ . }}
                    {{ end }}
                </div>
                <div class="level-item">
                    {{ .Date.Format .Site.Params.dateFormat }}
                </div>
            </div>
            <div class="level-right">
                <div class="tags">
                    {{ range .Params.categories }}
                        <a href="{{ "/categories/" | relURL }}{{ . | urlize }}" class="tag is-link">{{ . }}</a>
                    {{ end }}
                </div>
            </div>
        </div>

        {{ if .Params.imageBig }}
            <figure class="image">
                <img src="{{ .Params.imageBig | relURL }}" alt="{{ .Title }}" class="mb-4">
            </figure>
        {{ end }}

        <div class="content">
            {{ .Content }}
        </div>
    </article>
{{ end }}