<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="/">Pixam</a> |
            <a href="/categories">Categories</a> |
            <a href="/sitemap.xml">Sitemap</a>
        </p>
        <p>
            <a href="https://github.com/pixambi" target="_blank" rel="noopener noreferrer" class="icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/jamesevanneal/" target="_blank" rel="noopener noreferrer" class="icon">
                <i class="fab fa-linkedin"></i>
            </a>
        </p>
    </div>
</footer>