<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="{{ "" | relURL }}">Pixam</a> |
            <a href="{{ "categories" | relURL }}">Categories</a> |
            <a href="{{ "sitemap.xml" | relURL }}">Sitemap</a>
        </p>
        <p>
            <a href="https://github.com/pixambi" class="icon" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/jamesevanneal/" class="icon" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
        </p>
    </div>
</footer>